* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

body {
  font-size: 2rem;
  background-color: white;
  padding: 0 2rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo img {
  height: 4rem;
  padding-left: 1rem;
}
header nav .search {
  display: flex;
  align-items: center;
}
header nav .search .search_form {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-right: 4rem;
}
header nav .search .search_form input {
  border-radius: 25px 0 0 25px;
  width: 40rem;
  height: 3rem;
  border: none;
  font-size: 1.6rem;
  padding-left: 2rem;
}
header nav .search .search_form .search_icon {
  width: 5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  border-radius: 0 25px 25px 0;
}

section {
  display: flex;
}
section aside {
  display: flex;
  flex-direction: column;
  width: 25rem;
}
section aside div {
  margin-top: 5rem;
  padding: 1rem 0;
  border-bottom: 2px solid black;
}
section aside div img {
  width: 2.8rem;
}
section aside div ul li {
  padding: 0.6rem;
}
section aside div ul li a {
  color: black;
}
section aside div ul li a i {
  margin-right: 0.5rem;
}
section aside div ul li a img {
  margin-right: 0.5rem;
}
section main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 5rem);
  height: calc(100vh - 25rem);
}
section main .main_header {
  display: flex;
  flex-direction: column;
}
section main .main_header .main_banner {
  position: relative;
  background-color: rgb(16, 14, 14);
  width: 100%;
  height: 22rem;
}
section main .main_header .main_banner .banner img {
  width: 100%;
  height: 22rem;
}
section main .main_header .main_banner .main_banner_icons {
  z-index: 1;
}
section main .main_header .main_banner .main_banner_icons ul {
  display: flex;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}
section main .main_header .main_banner .main_banner_icons ul li {
  padding-right: 1rem;
  font-size: 1.7rem;
}
section main .main_header .main_banner .main_banner_icons ul li a {
  color: white;
}
section main .main_header .main_banner .main_banner_icons ul li a img {
  width: 2rem;
}
section main .main_header .main_header_navbar {
  display: flex;
  flex-direction: column;
  padding: 1rem 10rem;
}
section main .main_header .main_header_navbar .header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section main .main_header .main_header_navbar .header_nav img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
section main .main_header .main_header_navbar .header_nav_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section main .main_header .main_header_navbar .header_nav_menu ul li a {
  font-size: 1.6rem;
  color: black;
}

/*# sourceMappingURL=layout.css.map */
