@mixin flex-setup-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-setup-column {
    display: flex;
    flex-direction: column;
}

@mixin box-size ($width, $height) {
    width: $width;
    height: $height;    
}

@mixin button {
    display: inline-block;
    border: none;
    background-color: $btn-bg;
    color: #fff;
    padding: .4rem 1.6rem;
    text-align: center;
}
@mixin card{
    background-color: $card-bg;
    padding: 1rem;
}