* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

body {
  font-size: 1.6rem;
  background-color: white;
  padding: 0 2rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 2rem;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo img {
  height: 4rem;
  padding-left: 2rem;
}
header nav .search {
  display: flex;
  align-items: center;
  width: 50rem;
  height: 3rem;
}
header nav .search .search_form {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
header nav .search .search_form input {
  border-radius: 25px 0 0 25px;
  width: 40rem;
  height: 3rem;
  border: none;
  font-size: 1.6rem;
  padding-left: 2rem;
}
header nav .search .search_form .search_icon {
  width: 5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  border-radius: 0 25px 25px 0;
}
header nav .search .mic_icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  border-radius: 50%;
}
header nav .icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .icons ul li {
  padding: 1rem;
}
header nav .icons ul li i {
  font-size: 1.6rem;
}

section {
  display: flex;
}
section aside .sidebar {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
section aside .sidebar div {
  margin-top: 2rem;
  padding: 1rem 0.6rem;
}
section aside .sidebar div ul li {
  padding: 0.8rem;
}
section aside .sidebar div ul li:hover {
  background-color: lightgrey;
  border-radius: 3px;
  transition: all 0.8s ease-in;
  transform: scale(1);
}
section aside .sidebar div ul li a {
  color: black;
}
section aside .sidebar div ul li a i {
  margin-right: 0.8rem;
}
section aside .sidebar div hr {
  border-top: 2px solid gray;
  margin-top: 0.8rem;
}
section aside .sidebar_mini {
  display: none;
}
section aside .sidebar_mini ul {
  margin-right: 0.5rem;
}
section aside .sidebar_mini ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 8rem;
  height: 5.5rem;
}
section aside .sidebar_mini ul li:hover {
  background-color: lightgrey;
  border-radius: 3px;
  transition: all 0.8s ease-in;
  transform: scale(1);
  cursor: pointer;
}
section aside .sidebar_mini ul li span.link_name {
  margin-top: 1rem;
  font-size: 1.2rem;
}
section main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 5rem);
  height: calc(100vh - 25rem);
}
section main .main_header {
  display: flex;
  flex-direction: column;
}
section main .main_header .main_banner {
  position: relative;
  background-color: rgb(16, 14, 14);
  width: 100%;
  height: 15vw;
}
section main .main_header .main_banner .banner {
  max-height: 22rem;
}
section main .main_header .main_banner .banner img {
  width: 100%;
  height: 15vw;
  background-position: cover;
}
section main .main_header .main_banner .main_banner_icons {
  z-index: 1;
}
section main .main_header .main_banner .main_banner_icons ul {
  display: flex;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}
section main .main_header .main_banner .main_banner_icons ul li {
  padding-right: 1rem;
  font-size: 1.7rem;
}
section main .main_header .main_banner .main_banner_icons ul li a {
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
}
section main .main_header .main_banner .main_banner_icons ul li a img {
  width: 2rem;
}
section main .main_header .main_header_navbar {
  display: flex;
  flex-direction: column;
  padding: 1rem 10rem;
}
section main .main_header .main_header_navbar .header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section main .main_header .main_header_navbar .header_nav .header_nav_avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section main .main_header .main_header_navbar .header_nav .header_nav_avatar .header_avatar_image img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}
section main .main_header .main_header_navbar .header_nav .header_nav_avatar .header_avatar_content {
  display: flex;
  flex-direction: column;
}
section main .main_header .main_header_navbar .header_nav .header_nav_avatar .header_avatar_content h4 {
  margin-bottom: 1rem;
}
section main .main_header .main_header_navbar .header_nav .header_nav_avatar .header_avatar_content span {
  font-weight: 400;
}
section main .main_header .main_header_navbar .header_nav .header_nav_bttn button {
  height: 3rem;
  width: 10rem;
  background-color: red;
  border: 2px solid red;
  border-radius: 3px;
  color: white;
  font-weight: 700;
}
section main .main_header .main_header_navbar .header_nav .header_nav_bttn button:hover {
  opacity: 0.6;
  cursor: pointer;
}
section main .main_header .main_header_navbar .header_nav_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section main .main_header .main_header_navbar .header_nav_menu ul li a {
  font-size: 1.6rem;
  color: black;
  opacity: 0.7;
}
section main .main_header .main_header_navbar .header_nav_menu ul li a:hover {
  opacity: 1;
}
section main .main_header .main_header_navbar .header_nav_menu_mini {
  display: none;
}
section main .main_header .main_header_navbar .header_nav_menu_mini ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section main .main_header .main_header_navbar .header_nav_menu_mini ul li {
  margin-top: 1rem;
}
section main .main_header .main_header_navbar .header_nav_menu_mini ul li a {
  font-size: 1.4rem;
  color: black;
}
section main hr {
  border: 1px solid gray;
}
section main .main_content {
  padding: 0.5rem 1.6rem;
}
section main .main_content .cards {
  display: flex;
  flex-wrap: wrap;
}
section main .main_content .cards .card {
  width: 25rem;
  height: 25rem;
  padding: 0.8rem;
}
section main .main_content .cards .card .card_image {
  position: relative;
}
section main .main_content .cards .card .card_image img {
  width: 100%;
  height: 15rem;
  border-radius: 5px;
}
section main .main_content .cards .card .card_image span {
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  width: 5rem;
  background-color: black;
  bottom: 0.6rem;
  right: 0.6rem;
  color: white;
  font-weight: 800;
}
section main .main_content .cards .card .card_content p {
  color: gray;
  margin-top: 0.5rem;
  font-weight: 400;
}

@media (max-width: 1025px) {
  header nav {
    padding: 0 3rem;
  }
  header nav .search {
    width: 32rem;
  }
  header nav .search .search_form {
    margin-right: 1rem;
  }
  header nav .search .search_form input {
    width: 22rem;
    padding-left: 1rem;
  }
  section aside .sidebar {
    display: none;
  }
  section aside .sidebar_mini {
    display: block;
  }
  section main .main_header .main_header_navbar .header_nav_menu {
    display: none;
  }
  section main .main_header .main_header_navbar .header_nav_menu_mini {
    display: block;
  }
  section main .main_header .main_header_navbar .header_nav_menu_mini a {
    font-size: 1.6rem;
    color: black;
    opacity: 0.7;
  }
  section main .main_header .main_header_navbar .header_nav_menu_mini a:hover {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  header nav .search {
    display: none;
  }
  section main .main_header .main_header_navbar {
    padding: 2rem;
  }
  section main .main_header .main_banner .main_banner_icons {
    display: none;
  }
}
@media (max-width: 520px) {
  header nav {
    padding: 0 1rem;
  }
  section aside {
    display: none;
  }
  section main .main_header .main_header_navbar .header_nav {
    display: flex;
    flex-direction: column;
  }
  section main .main_content {
    text-align: center;
  }
  section main .main_content .cards {
    justify-content: center;
  }
  section main .main_content .cards .card {
    height: 22rem;
  }
}

/*# sourceMappingURL=main.css.map */
