body {
  font-size: 2rem;
  background-color: $body-bg;
  padding: 0 2rem;
}
header nav {
  @include flex-setup-row();
  @include box-size(100%, 5rem);
  .logo {
    display: flex;
    align-items: center;
    img {
      height: 4rem;
      padding-left: 1rem;
    }
  }
  .search {
    display: flex;
    align-items: center;

    .search_form {
      border: 1px solid black;
      border-radius: 25px;
      display: flex;
      align-items: center;
      margin-right: 4rem;
      input {
        border-radius: 25px 0 0 25px;
        @include box-size(40rem, 3rem);
        border: none;
        font-size: 1.6rem;
        padding-left: 2rem;
      }
      .search_icon {
        @include box-size(5rem, 3rem);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgrey;
        border-radius: 0 25px 25px 0;
      }
    }
  }
}
section {
  display: flex;

  aside {
    @include flex-setup-column();
    width: 25rem;

    div {
      margin-top: 5rem;
      padding: 1rem 0;
      border-bottom: 2px solid black;
      img {
        width: 2.8rem;
      }

      ul {
        li {
          padding: .6rem;
          a{
            color: $primary-color;
            i{
              margin-right: .8rem;
            }
            img{
              margin-right: .5rem;
            }
          }
        }
      }
    }
  }

  main {
    @include flex-setup-column();
    @include box-size(calc(100vw - 5rem), calc(100vh - 25rem));

    .main_header {
      @include flex-setup-column();

      .main_banner {
        position: relative;
        background-color: rgb(16, 14, 14);
        @include box-size(100%, 22rem);
        .banner {
          img {
            @include box-size(100%, 22rem);
          }
        }

        .main_banner_icons {
          z-index: 1;
          ul {
            display: flex;
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            li {
              padding-right: 1rem;
              font-size: 1.7rem;

              a {
                color: white;
                img {
                  width: 2rem;
                }
              }
            }
          }
        }
      }

      .main_header_navbar {
        @include flex-setup-column();
        padding: 1rem 10rem;
        .header_nav {
          @include flex-setup-row();
          img {
            @include box-size(10rem, 10rem);
            border-radius: 50%;
          }
        }

        .header_nav_menu {
          ul {
            @include flex-setup-row();
            li{
              a{
                font-size: 1.6rem;
                color: $primary-color;
              }
            }
          }
        }
      }
    }

  }
}
