//Colors
$body-bg: white;
$card-bg: black;
$btn-bg: red;
$border-color: #dad6ab;
$primary-color: #0e749e;
$secondary-color: #e0ddb2;
$tertiary-color: #fff;

// fonts
$primary-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

// sizes
$tiny: 1rem;
$small: 2rem;
$medium: 4rem;
$large: 10rem;
$huge: 20rem;

//Paddings
$P_1: 1rem;
$P_2: .8rem;
$P_3: .6rem;
$P_4: .5rem;

//Margins
$MG_1: 1rem;
$MG_2: .8rem;
$MG_3: .6rem;
$MG_4: .5rem;